# Base de données production
DATABASE_URL=postgresql://postgres:VOTRE_MDP@localhost:5432/SuiviTerrain

# Base de données test
TEST_DATABASE_URL=postgresql://postgres:VOTRE_MDP@localhost:5432/SuiviTerrain_test

# Secrets (générer avec : python -c "import secrets; print(secrets.token_urlsafe(64))")
SECRET_KEY=Your_SECRET_KEY
JWT_SECRET_KEY=Your_JWT_SECRET_KEy